/**
 * Left and Right toolbars
 */

.toolbar_col {
  max-width: 6em;
}

.toolbar {
  position: sticky;
  top: 1rem;

  width: 3rem;

  margin-top: 1rem;
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.toolbar_left {
  float: right;
}

.toolbar_right {
  float: left;
}

.toolbar_group {
  padding-bottom: 0.5rem;
}

.toolbar_btn {
  background-color: #ffffff;

  border-color: rgba(0, 0, 0, 0.125);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  padding: 0.4rem;
}

.toolbar_btn_img {
  width: 1.6rem;
  height: 1.6rem;
}

.toolbar_dropdown_toggle::after {
  display: none;
}

.toolbar_dropdown_menu {
  min-width: 2.5rem;
  padding: 0;
}
