.doc_component_inline_link {
  font-weight: 500;
  color: #38b000;
}

.doc_component_inline_link_ext:before {
  content: "🌍 ";
}

.doc_component_inline_link_int:before {
  content: "/";
}

.doc_component_inline_link:hover {
  color: #70e000;

  text-decoration-line: underline;
  cursor: pointer;
  /*
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  */
}

.doc_component_paragraph {
  margin-bottom: 1rem;
  white-space: normal;
}

div.public-DraftEditor-content {
  white-space: normal;
}

div.public-DraftStyleDefault-block {
  white-space: normal;
}

.doc_component_header_1 {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;

  /* color: #1a4301; */
  color: #004b23;

  margin-top: 0.24rem;
  margin-bottom: 1rem;
}

.doc_component_header_2 {
  font-size: 1.4rem;
  font-weight: bold;
  /* color: #245501; */
  color: #006400;
  display: block;

  margin-bottom: 1rem;
}

.doc_component_header_3 {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #538d22; */
  color: #007200;
  display: block;

  margin-bottom: 1rem;
}

.doc_component_header_4 {
  font-size: 1.1rem;
  font-weight: bold;
  /* color: #73a942; */
  color: #008000;
  display: block;

  margin-bottom: 1rem;
}

.doc_component_header_5 {
  font-size: 1rem;
  font-weight: bold;
  /* color: #aad576; */
  color: #38b000;
  display: block;

  margin-bottom: 1rem;
}

.doc_component_header_6 {
  font-size: 1rem;
  font-weight: bold;
  /* color: #aad576; */
  color: #70e000;
  display: block;

  margin-bottom: 1rem;
}

.doc_component_hrule {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.312),
    rgba(0, 0, 0, 0));
}

.doc_component_inline_text {
  display: inline-block;
}

