.toolbar_group {
}

.tool_button {
  margin: 0 auto 0 auto;

  border-style: solid;
  border-width: 0;
  border-radius: 64px;
  font-size: 0;

  display: block;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;

  color: black;
  opacity: 0.5;
  z-index: 101;
}

.tool_button:hover {
  opacity: 1;
  background-color: #d0d1d2;
  color: black;
}

.tool_dropdown {
}

.tool_dropdown:after {
  display: none;
}

.footbar_dropdown_item {
  padding-right: 14px;
  padding-left: 14px;
  display: block;
}

.dropdown_menu_inline_img {
  height: 1.4rem;
  width: 1.4rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.menu_item_pic {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0.6rem;
}

.tool_button_img {
  padding: 0;
  margin: 0;
  height: 1rem;
  width: 1rem;
}
