.shrinkable {
  overflow: hidden;
  position: relative;
  border-radius: inherit;
}

.fade {
  position: absolute;
  bottom: 0px;

  display: block;

  width: 100%;
  height: 42px;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 100%
  );

  border-radius: inherit;

  z-index: 800;
}

.card_xxs {
  height: 8rem;
}

.everything_xxs {
  min-height: 8rem;
}

.card_xs {
  height: 10rem;
}

.card_s {
  height: 12rem;
}
.card_m {
  height: 18rem;
}
.card_l {
  height: 24rem;
}
.card_xl {
  height: 32rem;
}

.card_xxl {
  height: 48rem;
}

.card_xs::after {
  position: static;
}

.card_xxs::after {
  position: static;
}
.card_xs::after {
  position: static;
}
.card_s::after {
  position: static;
}
.card_m::after {
  position: static;
}
.card_l::after {
  position: static;
}
.card_xl::after {
  position: static;
}
.card_xxl::after {
  position: static;
}

.a_see_more {
  font-size: 1rem;
  font-weight: 560;
  color: rgba(0, 0, 0, 0.6);

  margin: 0;

  margin-top: 8px;
  margin-top: 4px;
  margin-left: 16px;
  margin-right: 4px;

  display: inline;

  text-decoration: none;
}

.a_see_more:visited {
}

.a_see_more:hover {
  color: green;
  text-decoration: none;
  cursor: pointer;
}
