.row {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex: none;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.col {
}

.node_card_col {
}

.refs_col {
  margin: 3px 0 0 0;
  padding: 0 1rem 0 1rem;
}

@media (max-width: 1420px) {
  .node_card_col {
    max-width: 46rem;
    padding: 0 1rem 0 1rem;
  }
  .refs_col {
    padding: 0 4px 0 4px;
  }
}

@media (max-width: 1200px) {
  /**
   * Small wide screen
   */
  .node_card_col {
    padding: 0 4px 0 4px;
  }
  .refs_col {
    padding: 0 2px 0 2px;
  }
}

@media (min-width: 480px) {
  .row {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  /**
   * Mobile devices
   * https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns
   */
  .row {
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
  .col {
    width: 100vw;
    max-width: 100%;
    display: inline-block;
    flex: none;

    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .node_card_col {
    margin: 3px 0 0 0;
    padding: 0 2px 0 2px;
  }
  .refs_col {
    margin: 3px 0 0 0;
    padding: 0 2px 3px 2px;
  }
}

.editor {
  /* top right bottom left */
  padding: 18px 16px 16px 16px;
  width: 100%;
}

.media {
  /* top right bottom left */
  padding: 0 0 0 0;
  margin: 0;

  width: 100%;
  max-width: 100%;

  border-style: none;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
