.fluid_container {
  position: relative;
}

.fluid_container::after {
  position: static;
}

.wide_card {
  width: 100%;

  margin: 0;
  padding: 0;

  min-height: 10rem;
  box-shadow: 0px 1px 2px 1px rgb(0, 0, 0, 0.12);
  border-radius: 8px;

  font-size: 14px;
}
