.card {
  min-height: 4rem;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.22);
  border-width: 1px;
  box-shadow: none;
}

.side_title {
  padding: 8px;
  color: rgba(0, 0, 0, 0.49);
  font-style: italic;
}

.toolbar {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.tool_button {
  background-color: #ffffff;

  border-style: solid;
  border-width: 0;
  border-radius: 4em;

  opacity: 0.5;

  padding: 0.5em 0.5em 0.1em 0.5em;
}

.tool_button:hover {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.24);
}

.toolbar_layout_item {
  margin-left: auto;
  margin-right: auto;
}

.tool_button_img {
  height: 1.6rem;
  width: 1.6rem;
}
