.editor {
  /* top right bottom left */
  padding: 18px 16px 16px 16px;
  width: 100%;
}

.media {
  /* top right bottom left */
  padding: 0 0 0 0;
  margin: auto;

  border-style: none;
  border-radius: inherit;
}
