.tool_button {
  background-color: #ffffff;

  border-style: solid;
  border-width: 0px;
  border-radius: 56px;

  opacity: 0.5;

  padding: 0;
  padding: 0.4rem;
}

.tool_button:hover {
  opacity: 1;
  background-color: #d0d1d2;
}

.tool_button_img {
  height: 1.6rem;
  width: 1.6rem;
}
