.toolbar {
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  padding-top: 5px;
  padding-bottom: 5px;
}

.toolbar_group {
}

.tool_button {
  background-color: #ffffff;

  border-style: solid;
  border-width: 0px;
  border-radius: 56px;

  padding: 0;
  padding: 0.4rem;
}

.tool_button:hover {
  background-color: #d0d1d2;
}

.tool_dropdown {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.tool_button_img {
  padding: 0;
  margin: 0;
  height: 1.2rem;
  width: 1.2rem;
}

.menu_item_pic {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0.6rem;
}

.dropdown_menu_inline_img {
  height: 1.4rem;
  width: 1.4rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.toolbar_layout_item {
  margin-left: auto;
  margin-right: auto;
}
