/**
 * Left and Right toolbars
 */

:root {
  --small_card_border_colour: rgba(0, 0, 0, 0.192);
  --small_card_shadow_colour: rgba(0, 0, 0, 0.12);
}

.btn_img {
  width: 1.2rem;
  height: 1.2rem;
}

.toolbar_col {
  max-width: 4.4rem;
  padding: 0.5rem;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.node_card_col {
  max-width: 42rem;
  width: 40%;

  padding: 0;

  padding-top: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  margin: 0;
}

.refs_col {
  max-width: 24rem;
  width: 20%;
  margin: 0;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 1420px) {
  .node_card_col {
    max-width: 40%;
    width: 40%;

    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .refs_col {
    max-width: 28%;
    width: 24%;
    padding-top: 1rem;
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media (max-width: 1200px) {
  /**
   * Small wide screen
   */

  .node_card_col {
    max-width: 50%;
    width: 50%;

    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .refs_col {
    max-width: 25%;
    width: 24%;

    padding-top: 0.8rem;
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width: 480px) {
  /**
   * Mobile devices
   * https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns
   */

  .container {
    padding-right: 4px;
    padding-left: 4px;
  }

  .node_card_col {
    max-width: 42rem;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding-top: 0.2rem;
    padding-right: 2px;
    padding-left: 2px;
  }

  .refs_col {
    max-width: 50%;
    width: 50%;

    margin: 0;
    margin-top: 0.4rem;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .refs_left_col {
  }
  .refs_right_col {
    border-color: rgb(231, 233, 235);
    border-left-style: solid;
    border-width: 1px;
  }
}

.editor {
  /* top right bottom left */
  padding: 18px 16px 16px 16px;
  width: 100%;
}

.media {
  /* top right bottom left */
  padding: 0 0 0 0;
  margin: 0;

  width: 100%;

  border-style: none;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
