/**
 * https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns
 */
.grid_container {
  position: relative;

  width: 100%;
  max-width: 100%;

  margin: 0;
  padding: 0;
}

.grid_row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.grid_col {
  margin: 0;

  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  /* space between columns */
  padding-right: 6px;
}

@media (max-width: 480px) {
  /**
   * Mobile devices
   */
  .grid_col {
    padding-right: 6px;
  }
}

/* Don't add space after last column */
.grid_col:last-of-type {
  margin: 0;
  padding: 0;
}

.grid_cell {
  margin-top: 6px;
}

.search_grid_waiter {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.search_grid {
}

.search_grid_portable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  /* height: calc(50vh - 156px); */
  height: 80vh;
}

.search_grid_loader {
  margin: 2rem;
}
