/**
 * https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns
 */
/* xs */
@media (min-width: 240px) {
  .meta-search-card-columns {
    column-count: 1;
  }
}
/* sm */
@media (min-width: 576px) {
  .meta-search-card-columns {
    column-count: 2;
  }
}
/* md */
@media (min-width: 768px) {
  .meta-search-card-columns {
    column-count: 3;
  }
}
/* lg */
@media (min-width: 992px) {
  .meta-search-card-columns {
    column-count: 4;
  }
}
/* xl */
@media (min-width: 1200px) {
  .meta-search-card-columns {
    column-count: 6;
  }
}
/* xxl */
@media (min-width: 2000px) {
  .meta-search-card-columns {
    column-count: 8;
  }
}

.grid_container {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-left: 12px;
}

@media (max-width: 480px) {
  /**
   * Mobile devices
   */
  .grid_container {
    padding-left: 6px;
  }
}

.grid_row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.grid_col {
  margin: 0;
  padding: 0;
  padding-right: 12px;
}

@media (max-width: 480px) {
  /**
   * Mobile devices
   */
  .grid_col {
    padding-right: 6px;
  }
}

.grid_cell {
  margin-top: 12px;
}

.search_grid_waiter {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.search_grid {
}

.search_grid_portable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  /* height: calc(50vh - 156px); */
  height: 80vh;
}
