:root {
  --editor_border_colour: rgba(0, 0, 0, 0.16);
}

.fluid_container {
  position: relative;
  z-index: 0;
}

.fluid_paragraph_toolbar {
  position: absolute;
  top: 0rem;
  right: -1.4rem;
  z-index: 2;
}

.paragraph_toolbar_btn {
  background-color: white;

  border-style: solid;
  border-width: 0;
  border-radius: 24px;

  padding: 0.2rem;

  opacity: 0.5;
}

.paragraph_toolbar_btn:hover {
  background-color: #d0d1d2;
  opacity: 1;
}

.paragraph_toolbar_more_btn {
  width: 1.54rem;
  height: 1.28rem;
}

/**
 * Text editor
 */
.editor_form {
  padding-left: 2px;
  padding-right: 2px;

  resize: vertical;

  border-radius: 8px;
  border-width: 1px;
  border-color: var(--editor_border_colour);

  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.editor_form:focus {
  border-width: 1px;
  border-color: var(--editor_border_colour);

  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.editor_input_group {
  border-style: none;
  border-width: 0;
  outline: none;
}

.editor_input_group:focus {
  border-width: 0;
  outline: none;
}

.btn_img {
  width: 1rem;
  height: 1rem;
}
