.fluid_container {
  position: relative;
}

.doc_render_card {
  box-shadow: 1px 1px 4px 0px var(--small_card_shadow_colour);
}

.doc_render_card_body {
  margin: 0;
  padding-left: 1.2rem;
  padding-right: 2rem;

  padding-top: 1.4rem;
  padding-bottom: 1rem;
}

.locked_img {
  width: 5rem;
  height: 5rem;

  opacity: 0.8;

  display: block;

  margin-left: auto;
  margin-right: auto;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.locked_secret_id {
  display: block;
  margin: 0;
  color: green;
}

.doc_card_toolbar {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  /* z-index: 10; */
}

.doc_card_toolbar_btn {
  font-size: 0;

  border-radius: 1.2rem;

  background-color: white;
  border-color: white;
  opacity: 0.4;

  margin-left: 0rem;
  margin-right: 0rem;
}
.doc_card_toolbar_btn:hover {
  opacity: 0.9;
}

.doc_card_toolbar_btn_img {
  width: 1.1rem;
  height: 1.1rem;
}
