
.fluid_container {
  position: relative;
}

.doc_render_card {
  box-shadow:
    1px 1px 4px 0px var(--small_card_shadow_colour);
}

.doc_render_card_body {
  margin: 0;
  padding-left: 1.2rem;
  padding-right: 2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.locked_img {
  width: 5rem;
  height: 5rem;

  opacity: 0.8;

  display: block;

  margin-left: auto;
  margin-right: auto;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.locked_secret_id {
  display: block;
  margin: 0;
  color: green;
}
