.mazed_node_editor_root {
}

.mazed_node_editor_root h1 {
  white-space: normal;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  /* Code for Firefox */
  background: #dfeed4;
}

::selection {
  background: #dfeed4;
}
