:root {
  --small_card_border_colour: rgba(0, 0, 0, 0.192);
  --small_card_shadow_colour: rgba(0, 0, 0, 0.12);
}

.root {
  width: 100%;
}

.editor {
  padding: 1rem;
  width: 100%;

  /* box-shadow: 0px 2px 2px 0px var(--small_card_shadow_colour); */
}

.buttons {
  margin-bottom: 10;
}
.urlInputContainer {
  margin-bottom: 10;
}
.urlInput {
  font-family: "'Georgia'; serif";
  margin-right: 10;
  padding: 3;
}
.button {
  margin-top: 10;
  text-align: "center";
}
.link {
  color: "#3b5998";
  text-decoration: "underline";
}

.controls_toolbar_hide {
  display: none;
}

.controls_toolbar_show {
}
