.read_only_card {
  margin: 0;
  padding: 14px;

  /* border-color: var(--small_card_border_colour); */
  border-style: none;
}

.small_card_waiter {
  display: flex;
  justify-content: center;
  align-items: center;
}
