.autocomplete-window-top {
  /* position: absolute;
  left: 100px;
  top: 150px; */
}

.autocomplete_modal {
  /* max-height: 512px; */
  /* https://stackoverflow.com/questions/47256185/bootstrap-list-group-scroll */
  /* overflow-y: auto; /*scroll;*/
  /*
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  */
}
