.icon_img {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;

  display: inline-block;
}

.select_dropdown {
}

.dropdown_item {
  padding-left: 12px;
  padding-right: 12px;
}

.dropdown_menu {
}
