.dropdown-item.active {
  color: inherit;
  background-color: inherit;
}

.dropdown-item:active {
  color: inherit;
  background-color: inherit;
}

.checkmark_container {
  display: inline-block;
  float: left;
  position: relative;

  margin-right: 12px;
  padding: 0;
}

.checkmark {
  border: none;
  height: 1rem;
  width: 1rem;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.dropdown-item.active .checkmark:after {
  position: absolute;
  left: 6px;
  top: 4px;
  width: 0.5rem;
  height: 1rem;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: block;
  content: "";
  cursor: pointer;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown-menu {
  padding: 2px;
  min-width: 14rem;
}

.dropdown {
  min-width: 8rem;
}
