.dropdown-item.active {
  color: inherit;
  background-color: inherit;
}

.dropdown-item:active {
  color: inherit;
  background-color: inherit;
}

.dropdown-menu {
  padding: 2px;
  min-width: 12rem;
}

.dropdown {
  min-width: 1rem;
}

.dropdown-toggle {
  border-width: 0px;
  border-radius: 1px;

  background-color: #ffffff;
  color: inherit;
  min-width: 10rem;
  text-align: left;
}

.dropdown-toggle:hover {
  background-color: #d0d1d2;
  color: inherit;
  border-width: 0px;
}

.dropdown-toggle:after {
  margin-left: 1rem;
}
