:root {
  --small_card_border_colour: rgba(0, 0, 0, 0.192);
  --small_card_shadow_colour: rgba(0, 0, 0, 0.12);
}

.toolbar {
  flex-wrap: nowrap;
  justify-content: left;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #c0c0c0;

  /* TODO(akindyakov) Please use a proper radius here */
  /* box-shadow: 0px 1px 2px 1px var(--small_card_shadow_colour); */

  width: 100%;

  opacity: 0.72;
}

.toolbar:hover {
  opacity: 1;
}

.toolbar_section {
  border-right-style: solid;
  border-right-width: 1px;
}
