.btn {
  /* background-color: #ffffff; */
  background-color: white;

  /* border-color: rgba(0, 0, 0, 0.125); */
  border-style: solid;
  border-width: 0;
  border-color: white;
  border-radius: inherit;

  /* padding: 5px; ? */
  color: inherit;
}

.btn:active,
.btn:hover,
.btn:focus {
  color: inherit;
  border-color: white;
}

.mzd_control_button_active {
  opacity: 1;
  background-color: rgb(226, 230, 234);
  border-color: white;
}
