:root {
  --small_card_shadow_colour: rgba(0, 0, 0, 0.12);
}

.popover_root {
  position: relative;
}

.popover {
  position: absolute;
  transform: translate(1rem, 1rem);
  background-color: white;

  box-shadow: 0px 1px 2px 1px var(--small_card_shadow_colour);

  z-index: 900;
  padding: 5px;
}

.icon_img {
  height: 1.2rem;
  width: 1.2rem;

  display: inline-block;
}

.btn {
  text-align: center;
}
