.meta-fluid-container {
  position: relative;
}

.meta-fluid-el-top-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.meta-fluid-el-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.meta-fluid-el-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.meta-fluid-el-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

/**
 * https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns
 */
/* xs */
@media (min-width: 240px) {
  .meta-node-refs-from {
    column-count: 1;
  }
  .meta-node-refs-to {
    column-count: 1;
  }
}
/* sm */
@media (min-width: 576px) {
  .meta-node-refs-from {
    column-count: 2;
  }
  .meta-node-refs-to {
    column-count: 2;
  }
}
/* md */
@media (min-width: 768px) {
  .meta-node-refs-from {
    column-count: 1;
  }
  .meta-node-refs-to {
    column-count: 1;
  }
}
/* lg */
@media (min-width: 992px) {
  .meta-node-refs-from {
    column-count: 1;
  }
  .meta-node-refs-to {
    column-count: 1;
  }
}
/* xl */
@media (min-width: 1200px) {
  .meta-node-refs-from {
    column-count: 2;
  }
  .meta-node-refs-to {
    column-count: 1;
  }
}
/* xxl */
@media (min-width: 2000px) {
  .meta-node-refs-from {
    column-count: 2;
  }
  .meta-node-refs-to {
    column-count: 1;
  }
}

/**
 * SearchNewRefToolkit
 */
.connect-toolkit-btn-group {
  display: flex;
}

.connect-toolkit-btn {
  display: 1;
}

.mazed_note_toolbar_col {
  max-width: 4.4rem;
}

.mazed_note_card_col {
  padding: 0;
  max-width: 42rem;
  min-width: 12rem;
}

.mazed_note_card {
  max-width: 42rem;
  min-width: 12rem;
}

/**
 * Text editor
 */
textarea.mazed_editor {
  padding-left: 2px;
  padding-right: 2px;
}

.mazed_editor_input {
  float: left;
}

.mazed_editor_toolbar {
  /*  float: right; */
  /*
  display: inline-block;
  */
  position: absolute;
  display: inline-block;
  float: right;
}

.mazed_editor_input_with_toolbar {
  position: relative;
  display: inline-block;
}

.mazed_editor_input_toolbar {
  position: absolute;
}
