.new_btn_img {
  width: 1.4rem;
  height: 1.4rem;
}

.new_btn {
  border-width: 0;
  border-radius: 16px;
  margin-left: 0.4rem;
  padding: 0.4rem;
}

.new_btn:hover {
  border-color: white;
  background-color: #d0d1d2;
}
