.navbar {
  /**
   *
   * 1.The horizontal offset of the shadow, positive means the shadow will be on the right of the box, a negative offset will put the shadow on the left of the box.
   * 2. The vertical offset of the shadow, a negative one means the box-shadow will be above the box, a positive one means the shadow will be below the box.
   * 3. The blur radius (optional), if set to 0 the shadow will be sharp, the higher the number, the more blurred it will be.
   * 4. The spread radius (optional), positive values increase the size of the shadow, negative values decrease the size. Default is 0 (the shadow is same size as blur).
   * 5. Color
   **/
  border: 1px solid rgba(229,229,229,1);

  background-color: white;

  height: 2.8rem;

  padding-left: 0.8rem;
  padding-right: 0.8rem;

  justify-content: space-between;
}

.navbar_filler {
  margin-bottom: 3.4rem;
  width: 100%;
}

.brand {
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
}

.logo_image {
  width: 1.6rem;
  height: 1.6rem;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2px;
  margin-right: 6px;
}

.search_form {
  display: flex;
  justify-content: space-between;
  width: 32%;
  margin-right: 4px;
}

.user_pic {
  margin: 0;
}

.user_pic_image {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.account_dropdown {
}

.account_dropdown_toggle {
  background-color: #ffffff;

  border-style: solid;
  border-width: 0px;
  border-radius: 56px;

  padding-top: 8px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;

  margin-right: 0.2rem;
}

.account_dropdown_toggle:hover {
  opacity: 1;
  background-color: #d0d1d2;
}
.account_dropdown_toggle:after {
  display: none !important;
}
.account_dropdown_toggle:before {
  display: none !important;
}
