.navbar_filler {
  margin-bottom: 3.4rem;
  width: 100%;
}

.brand {
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
}

.logo_image {
  width: 1.6rem;
  height: 1.6rem;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2px;
  margin-right: 6px;
}

.search_form {
  display: flex;
  justify-content: space-between;
  width: 32%;
  margin-right: 4px;
}

.user_pic_image {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.account_dropdown_toggle {
  background-color: #ffffff;

  border-style: solid;
  border-width: 0px;
  border-radius: 56px;

  padding-top: 8px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;

  margin-right: 0.2rem;
}

.account_dropdown_toggle:hover {
  opacity: 1;
  background-color: #d0d1d2;
}
.account_dropdown_toggle:after {
  display: none !important;
}
.account_dropdown_toggle:before {
  display: none !important;
}
